body.dark-mode {
  background: #010101;
  color: #ffffff;
}

body.dark-mode button {
  background-color: #ffffff;
}

#message {
  background: #E9FFE4;
  border: 1px solid #178201;
  padding: 20px 40px;
  margin: 12px 0;
  border-radius: 4px;
  opacity: 1;
  transition: opacity .2s ease;
}

#message.dismissed {
  opacity: 0;
  height: 0;
}

#message button {
  float: right;
}

h1 {
    color: Olive;
    font-family: Helvetica;
  }
  
  p {
    background: #b2b4a9;
  }


  h1#site-title {
    font-size: 72px;
    letter-spacing: -3px;
    margin-top: 0;
    margin-bottom: .125em;
    text-align: center;
  }

  h1#article-title {
    font-size: 48px;
  }

  img{
    max-width: 100%;
    height: auto;
  }

  figure{
    border: 1px solid black;
    padding: 35px;
    padding-bottom: 70px;
    
  }
  figure img {
    margin-bottom: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  figcaption {
    text-align: center;
  }

  figure.main-image{
background: palegoldenrod
border: mediumpurple
color: #ffffff
  }

  @media all and (min-width: 768px){
    figure.section-image{
      max-width: 320px;
      float: right;
      margin: -20px -62px 32px 20px;
    }
  }

  figure.section-image{
    margin-bottom: 32px;
    max-width: 320px;
  }

  figure.section-image.odd {
    float: right;
    margin-left: 20px;
  }

  figure.section-image.even {
    float: left;
    margin-right: 20px
  }

  p img {
    float: right;
    max-width: 60%;
    margin-left: 20px;
    margin-bottom: 32px;
  }

  a{
    font-weight: bold;
    color: green;
  }

  nav ul {
    
    list-style: none;
    padding-left: 0;
  }

@media all and (min-width:376px) {
  nav ul {}
  display: flex;
  justify-content: center;
  gap: 30 px;
  }


  nav ul li {

  }
   
  nav ul li a {
    color: navy;
    text-decoration: none;
    padding: 8px;
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    }

  header nav ul li a:hover {
    text-decoration: underline;
    border-bottom: 3px solid bisque;
    padding: 9px;
  }

  header nav ul {
    border-top: 1px solid navy;
    border-bottom: 1px solid navy;
  }

  footer nav {

  }

  footer nav ul li a {
    color:#3976c1;
  }

  footer nav ul li a:hover {
    text-decoration: underline;
  }

  footer#page-footer{
    padding: 32px 0;
    margin-top: 64px;
    text-align: center;
    background-color: 1px solid mediumslateblue;
    color: #5d5698;
  }